<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="container">
            <div class="centered">
                <div class="group">
                    <input #email id="email" type="text" required="required">
                    <label for="email">Email</label>
                    <div class="bar"></div>
                </div>              
            </div>
            
            <br><br><br><br><br><br><br>

            <div class="button_cont">
                 <a class="btn-submit" align="center" (click)="resetPassword(email.value)">Reset Password</a>
            </div>
           

        </div>
</body>
</html>
