<div class="input">
    <h1>Upload File</h1>
	<img [src]="this.location" height="100" style = "padding-bottom: 100;"/><br/><br>
	<input type="file" (change)="getLocation($event)" accept="image/*,.pdf"/><br/>
	<input type="text" [(ngModel)]="name" placeholder="Enter Filename Here..." />
</div>

<div class="buttons">
	<button type="button" class="btn btn-danger">Reset</button>&nbsp;
	<button type="button" class="btn btn-primary" (click)="uploadFile()">
		Upload
	</button>
</div>

<h1>Your Previous Uploads</h1>
<div class="textarea-container">
	<div *ngFor="let doc of storageUploads">
        
        <!-- Individual Upload Cards -->
        <div class="card">
            <img src = "{{ doc.__zone_symbol__value }}" style="width:100%">
            <div class="container">
                <h4><b>Example Title</b></h4>
                <p>Example Description</p>
                <div style = "text-align: center;">
                    <button (click)="onClickMe()">Share with!</button>&nbsp;
                    <button class="bt" (click)="createNotesOrder()">Add</button>&nbsp;
                    <button class="bt" (click)="deleteNotesOrder()">Delete</button>&nbsp;
                    <button class="bt" (click)="updateNotesOrder()">Update</button>&nbsp;
                </div>
            </div>
        </div> 
	</div>
</div>
