<header class="page-header header container-fluid">
	<h1 style="text-align: center">Homepage</h1>
</header>
<body>
	<div class ="flex-container">
		<a href="notes">
			<div class="cloud">
				<div class="text">Notes</div>
			</div>
		</a>
		<a href="chat">
			<div class="cloud">
				<div class="text">Chat</div>
			</div>
		</a>
		<a href="account/login">
			<div class="cloud">
				<div class="text">Login</div>
			</div>
		</a>
		<a href="account/register">
			<div class="cloud">
				<div class="text">Register</div>
			</div>
		</a>
		<a href="account/forget">
			<div class="cloud">
				<div class="text">Forget Password</div>
			</div>
		</a>
		<a href="notes/scanned">
			<div class="cloud">
				<div class="text">Scan Notes</div>
			</div>
		</a>
	</div>
</body>